<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <php>
        <env name="AMQP_HOST" value="192.168.99.100"/>
        <env name="AMQP_PORT" value="30000"/>
        <env name="AMQP_SSL_PORT" value="30001"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory suffix="IT.php">./tests/integration/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>